<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/my.css">
</head>
<body>
<nav class="navbar">
    <a href="/">Главная</a>
    <a href="/table">Список книг</a>
    <a href="/save">Добавить</a>
</nav>

<div class="welcome">
    <h1>Добро пожаловать на сайт!</h1>
    <p>Этот сайт разработан с использованием фреймворка Spring, в связи с наличием некоторого опыта выполнения таких работ и предпочтительностью в ТЗ наличия веб-интерфейса.</p>
    <p>Для обеспечения работы всех функций сайта, используется базу данных MySQL.</p>
    <p>Однако, для того чтобы все работало должным образом, необходимо указать определенные параметры в файле <code>application.properties</code> и в функциях требующих подключения к БД, таковые имеются в файле <code>IndexController</code>, также немаловажно выставить соотвествующие зависимости в <code>pom.xml</code>.</p>
    <p>Необходимо создать локальную БД с 7 полями: id, name, author, category, number, year, isagerestricted. Поля id и year имеют тип int.</p>
    <p>Вам потребуется указать URL вашей базы данных, а также учетные данные пользователя и пароль для доступа к базе данных. Это позволит сайту связываться с базой данных и выполнять необходимые операции</p>

    <p>Если у вас возникнут какие-либо вопросы или замечания напишите мне на почту я исправлю.</p>
</div>

</body>
</html>