<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="welcome">
    <h1>Что-то пошло не так(</h1>
    <p>Пожалуйста, внимательно проверяйте введенные данные. Возможные причины ошибки: попытка добавить книгу с уже существующим id либо номером.</p>
    <p>Некорректный ввод ограничения, помните значение принимаемое этим полем должно быть либо 1 либо 0</p>
    <p>Пустые/нулевые/неподходящие по типизации данные и тд.</p>

    <p>Однако, для того чтобы все работало должным образом, необходимо указать определенные параметры в файле <code>application.properties</code> и в функциях требующих подключения к БД, таковые имеются в файле <code>IndexController</code>, также немаловажно выставить соотвествующие зависимости в <code>pom.xml</code>.</p>

</div>
</body>
</html>